menu "OTA config"

config OTA_UPDATE_INTERVAL
    int "Check for updates every n minutes"
    range 1 1440
    default 1440

config OTA_CHECK_AFTER_BOOT
    bool "Check after boot"
    default Y

config OTA_CHECK_AFTER_BOOT_BLOCKING
    bool "Blocking check after boot"
    depends on OTA_CHECK_AFTER_BOOT
    default Y

endmenu
